body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3a8a;
    padding: 5px 20px;
    color: white;
    border-bottom: 5px solid #f4c430;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin-right: 10px;
}

.university-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
}

.university-text span:first-child {
    font-size: 30px;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group button {
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.button-group button.tentang {
    color: #f4c430;
}

.button-group .user-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.user-icon {
    width: 35px;
    height: 35px;
}

.content {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 20px 60px;
}

.content h1 {
    font-size: 36px;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.content p {
    /* font-size: 14px;
    margin-bottom: 15px; */
    color: #2F318B;
    /* font-family: Poppins; */
    font-size: 20px;
    font-style: normal;
}

.content ul {
    list-style-type: none;
    padding: 5;
    
}

.content ul li {
    font-size: 20px;
    margin-bottom: 5px;
}

.content ul li::before {
    content: "•";
    color: #1e3a8a;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.content .contact {
    /* margin-top: 20px; */
    font-size: 14px;
}

.content .contact a {
    color: #1e3a8a;
    text-decoration: none;
}

.content .contact a:hover {
    text-decoration: underline;
}