body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3a8a;
    padding: 5px 20px;
    color: white;
    border-bottom: 5px solid #f4c430;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    margin-right: 10px;
}

.university-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
}

.university-text span:first-child {
    font-size: 30px;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group button {
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.button-group button.tentang {
    color: #f4c430;
}

.button-group .user-btn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.user-icon {
    width: 35px;
    height: 35px;
}

main {
    padding: 20px;
    display: block;
    background-color: white;
    border: 2px solid #1e3a8a;
    border-top: none;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #1e3a8a;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #1e3a8a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
}

.announcement li {
    background-color: #fff3cd; /*Light yellow */
}

.events li {
    background-color: #d4edda; /* Light green */
}