{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="home-container">
    <header class="home-header" style="background-image: url('{% static 'assets/siwal.jpg' %}');">
        <div class="home-judul">
            <h1>Sistem Informasi Akademik UMS</h1>
            <p>Website Resmi Sistem Informasi Akademik Universitas Muhammadiyah Surakarta</p>
        </div>
    </header>
    <div class="home-main">
        <div class="home-section announcement">
            <h2>Pengumuman</h2>
            <ul>
                <li>Pengumuman 1: Pendaftaran semester baru dimulai tanggal 1 Juli 2025.</li>
                <li>Pengumuman 2: Ujian akhir semester akan dilaksanakan pada 15-20 Desember 2025.</li>
            </ul>
        </div>
        <div class="home-section events">
            <h2>Kegiatan</h2>
            <ul>
                <li>Kegiatan 1: Seminar Nasional Teknologi Informasi, 25 November 2025.</li>
                <li>Kegiatan 2: Pekan Olahraga Mahasiswa, 5-10 Desember 2025.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}