{% extends 'base.html' %}
{% load static %}
{% block title %}Portal Informasi Kalender Akademik UMS{% endblock %}

{% block extra_head %}
    <!-- <link rel="stylesheet" href="{% static 'home/css/styles-index.css' %}"> -->
    <style>
      body{
        background-image: url("{% static 'assets/siwal.jpg'%}");
      }
    </style>
{% endblock %}


{% block content %}
    <div class="judul">
        <h1>Portal Informasi Kalender Akademik UMS</h1>
        <p>Portal ini merupakan sistem informasi berbasis web yang menyediakan akses cepat dan terpusat terhadap seluruh jadwal akademik resmi Universitas Muhammadiyah Surakarta.</p>
    </div>
        
    <main>
        <!-- <h1>Portal Informasi Kalender Akademik UMS</h1>
        <p>Portal ini merupakan sistem informasi berbasis web yang menyediakan akses cepat dan terpusat terhadap seluruh jadwal akademik resmi Universitas Muhammadiyah Surakarta.</p> -->
        
        <section class="announcement">
          <h2>📢 Pengumuman:</h2>
          <ul>
            <li>- Perubahan jadwal UTS Fakultas Teknik dimulai 22 April 2025</li>
            <li>- Batas akhir pengajuan cuti akademik: 20 April 2025</li>
          </ul>
        </section>
    
        <section class="events">
          <h2>📅 Kegiatan Terdekat:</h2>
          <ul>
            <li>- Awal Perkuliahan Genap: 15 April 2025</li>
            <li>- Batas Pengisian KRS: 25 April 2025</li>
            <li>- Libur Nasional: 1 Mei 2025 (Hari Buruh)</li>
          </ul>
        </section>
      </main>
    <script src="script2.js"></script>
{% endblock %}