{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Komponen Utama Halaman Beranda -->
<div class="home-page-container">
    <!-- Header Beranda -->
    <header class="home-page-header" style="background-image: url('{% static 'assets/siwal.jpg' %}');">
        <div class="home-page-judul">
            <h1>Portal Informasi Kalender Akademik UMS</h1>
            <p>Portal ini merupakan sistem informasi berbasis web yang menyediakan akses cepat dan terpusat terhadap
                seluruh jadwal akademik resmi Universitas Muhammadiyah Surakarta</p>
        </div>
    </header>
    <!-- Konten Utama Beranda -->
    <div class="home-page-main">
        <!-- section Pengumuman -->
        <div class="home-page-section announcement">
            <h2><i class="fas fa-bullhorn section-icon"></i>Pengumuman</h2>
            <ul id="pengumuman-list">
                <li class="loading-data">Memuat pengumuman...</li>
            </ul>
        </div>
        <!-- section Kegiatan -->
        <div class="home-page-section events">
            <h2><i class="fas fa-calendar-alt section-icon"></i>Kegiatan Terdekat</h2>
            <ul id="kegiatan-list">
                <li class="loading-data">Memuat kegiatan...</li>
            </ul>
        </div>
    </div>
</div>
<!-- Skrip JavaScript -->
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}