* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body, html {
    width: 100%;
    height: 100%;
  }

  .bg {
    background: url('../background.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 150vh;   */
  }
  
  .login-box {
    display: flex;
    width: 750px;
    max-width: 90%;
    gap: 70px;
  }
  
  .left-logo img {
    align-items: top;
    width: 23vh;
  }
  
  .right-form {
    border-radius: 20px;
    padding: 30px 40px;
    height: 50vh;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-form h3 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #003893;
  }
  
  .right-form strong {
    color: #003893;
  }
  
  .right-form p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #003893;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: right;
    gap: 15px;
    margin-top: 15px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn.yellow {
    background-color: #ffe600;
    color: black;
  }
  
  .btn.blue {
    background-color: #2a2a9e;
    color: white;
  }
  